Repository tauri-apps/tauri-docs, pull requests merged in 2024-05, with the labels that each got.

#2177 feat: manual setup guide
  src/content/docs/start/create-project.mdx
Labels: enhancement

#2174 CSP Minimization
  astro.config.mjs
  public/_headers
Labels: enhancement

#2180 fix: migrating crabnebula devtools
  src/content/docs/develop/Debug/crabnebula-cloud.mdx
  src/content/docs/develop/Debug/crabnebula-devtools.mdx
Labels: enhancement

#2186 fix: broken links by adding default append slashes to internal redirects
  src/content/docs/_es/guides/prerequisites/index.mdx
  src/content/docs/_zh-cn/guides/upgrade-migrate/from-tauri-1.mdx
  src/content/docs/blog/roadmap-to-tauri-2-0.md
  src/content/docs/blog/tauri-2-0-0-beta.md
  src/content/docs/blog/tauri-board-elections-and-governance-updates.md
  src/content/docs/concept/Inter-Process Communication/index.mdx
  src/content/docs/concept/Inter-Process Communication/isolation.md
  src/content/docs/concept/architecture.mdx
  src/content/docs/concept/index.mdx
  src/content/docs/develop/Debug/application.mdx
  src/content/docs/develop/Debug/intellij.mdx
  src/content/docs/develop/Debug/rustrover.mdx
  src/content/docs/develop/Debug/vscode.mdx
  src/content/docs/develop/Plugins/develop-mobile.mdx
  src/content/docs/develop/Plugins/index.mdx
  src/content/docs/develop/configuration-files.md
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/barcode-scanner.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/positioner.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/stronghold.mdx
  src/content/docs/plugin/websocket.mdx
  src/content/docs/plugin/window-customization.mdx
  src/content/docs/plugin/window-state.mdx
  src/content/docs/reference/acl.mdx
  src/content/docs/reference/cli.mdx
  src/content/docs/reference/webview-versions.md
  src/content/docs/security/capabilities.mdx
  src/content/docs/security/development.mdx
  src/content/docs/security/index.mdx
  src/content/docs/start/create-project.mdx
  src/content/docs/start/frontend/index.mdx
  src/content/docs/start/index.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
Labels: bug

#2176 fix: merge application debug with overview and improve debug only docs
  src/content/docs/develop/Debug/application.mdx
  src/content/docs/develop/Debug/index.mdx
  src/content/docs/develop/Debug/intellij.mdx
  src/content/docs/develop/Debug/rustrover.mdx
Labels: enhancement

#2202 feat: d2 diagrams, process model
  .github/CONTRIBUTING.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/d2/docs/concept/process-model-0.svg
  src/content/docs/concept/process-model.md
  src/styles/custom.scss
Labels: enhancement

#2204 feat: added diagram for Tauri Architecture
  public/d2/docs/concept/architecture-0.svg
  src/content/docs/concept/architecture.mdx
  src/content/docs/concept/process-model.md
Labels: enhancement

#2200 Add environment variables documentation
  src/content/docs/reference/environment-variables.mdx
Labels: enhancement

#2203 feat: added ipc diagrams
  public/d2/docs/concept/Inter-Process Communication/index-0.svg
  public/d2/docs/concept/Inter-Process Communication/index-1.svg
  src/content/docs/concept/Inter-Process Communication/index.mdx
  src/styles/custom.scss
Labels: enhancement

#2213 fix(links): upgrade & migrate cards' links
  src/content/docs/start/migrate/index.mdx
  src/content/docs/zh-cn/start/migrate/index.mdx
Labels: i18n

#2198 i18(zh-cn): Keep the `sidebar` consistent with the English version of the document and add Chinese translation.
  astro.config.mjs
  src/content/docs/zh-cn/develop/Debug/vscode.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/ci.md
  src/content/docs/zh-cn/develop/Tests/WebDriver/index.mdx
  src/content/docs/zh-cn/develop/development-cycle.mdx
  src/content/docs/zh-cn/develop/index.mdx
Labels: i18n, i18n: zh-cn

#1798 Guide(Frontend): Add Qwik
  src/content/docs/start/frontend/qwik.mdx
Labels: enhancement
