Repository tauri-apps/tauri-docs, pull requests merged in 2024-10, with the labels that each got.

#2761 feat: add vite documentation, clarify TAURI_DEV_HOST usage
  src/content/docs/develop/index.mdx
  src/content/docs/fr/start/frontend/trunk.mdx
  src/content/docs/start/frontend/leptos.mdx
  src/content/docs/start/frontend/nuxt.mdx
  src/content/docs/start/frontend/trunk.mdx
  src/content/docs/start/frontend/vite.mdx
  src/content/docs/zh-cn/start/frontend/leptos.mdx
  src/content/docs/zh-cn/start/frontend/trunk.mdx
Labels: i18n, i18n: zh-cn, i18n: fr

#2808 Use @tauri-apps/cli@latest instead of @next
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/reference/_cli.mdx
  src/content/docs/start/create-project.mdx
  src/content/docs/start/frontend/qwik.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-2-beta.mdx
  src/content/docs/zh-cn/start/create-project.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-2-beta.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2637 i18n(zh-cn): translate `distribute/dmg.mdx`
  src/content/docs/zh-cn/distribute/dmg.mdx
Labels: i18n, i18n: zh-cn

#2802 definitely fix (hopefully) trailing slash and broken urls
  astro.config.mjs
  locales.json
  packages/releases-generator/build.ts
  src/content/docs/_it/develop/Debug/vscode.mdx
  src/content/docs/blog/tauri-2-0-0-release-candidate.mdx
  src/content/docs/blog/tauri-2.0.mdx
  src/content/docs/concept/architecture.mdx
  src/content/docs/develop/Tests/WebDriver/ci.md
  src/content/docs/develop/Tests/mocking.md
  src/content/docs/develop/_sections/frontend-listen.mdx
  src/content/docs/develop/calling-frontend.mdx
  src/content/docs/develop/calling-rust.mdx
  src/content/docs/develop/index.mdx
  src/content/docs/develop/resources.mdx
  src/content/docs/distribute/Pipelines/github.mdx
  src/content/docs/distribute/app-store.mdx
  src/content/docs/distribute/appimage.mdx
  src/content/docs/distribute/dmg.mdx
  src/content/docs/distribute/google-play.mdx
  src/content/docs/distribute/macos-application-bundle.mdx
  src/content/docs/distribute/microsoft-store.mdx
  src/content/docs/distribute/windows-installer.mdx
  src/content/docs/fr/start/frontend/index.mdx
  src/content/docs/learn/Security/writing-plugin-permissions.mdx
  src/content/docs/learn/sidecar-nodejs.mdx
  src/content/docs/plugin/dialog.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/updater.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/develop/Debug/application.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/index.mdx
  src/content/docs/zh-cn/develop/resources.mdx
  src/content/docs/zh-cn/distribute/dmg.mdx
  src/content/docs/zh-cn/plugin/sql.mdx
  src/content/docs/zh-cn/plugin/stronghold.mdx
  src/content/docs/zh-cn/plugin/window-customization.mdx
  src/content/docs/zh-cn/start/frontend/index.mdx
Labels: i18n, i18n: zh-cn, i18n: fr

#2602 i18n(it): Translation /develop/index.mdx
  src/content/docs/it/develop/index.mdx
Labels: i18n, i18n: it

#2796 chore(capabilities): add `core:` identifier for capabilities
  src/content/docs/develop/sidecar.mdx
  src/content/docs/security/capabilities.mdx
  src/content/docs/zh-cn/develop/sidecar.mdx
  src/content/docs/zh-cn/plugin/deep-linking.mdx
  src/content/docs/zh-cn/reference/acl.mdx
Labels: i18n, i18n: zh-cn

#2819 i18n(zh-cn): add zh-cn translation for vite.mdx
  src/content/docs/zh-cn/start/create-project.mdx
  src/content/docs/zh-cn/start/frontend/vite.mdx
Labels: i18n, i18n: zh-cn

#2851 i18n(zh-cn): fix some translation at docs/zh-cn/start/frontend/vite.mdx
  src/content/docs/zh-cn/start/frontend/vite.mdx
Labels: i18n, i18n: zh-cn

#2861 fix: wrong JavaScript example in upload plugin
  src/content/docs/zh-cn/plugin/upload.mdx
Labels: i18n, i18n: zh-cn

#2870 fix: add missing frontmatter in persisted-scope
  src/content/docs/zh-cn/plugin/persisted-scope.mdx
Labels: i18n, i18n: zh-cn

#2872 i18n(zh-cn): remove rc flag in `start/index.mdx`
  src/content/docs/zh-cn/start/index.mdx
Labels: i18n, i18n: zh-cn

#2884 [i18n-ignore] fix Rust code for "Migrate to Global Shortcut Plugin"
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: es

#2895 fix: wrong example in src-tauri/capabilities/default.json
  src/content/docs/zh-cn/plugin/window-customization.mdx
Labels: i18n, i18n: zh-cn

#2908 i18n(fr): Update Home page
  src/content/docs/fr/index.mdx
Labels: i18n, i18n: fr
