Repository tauri-apps/tauri-docs, pull requests merged in 2024-06, with the labels that each got.

#2231 i18(zh-cn): Synchronizing content
  src/content/docs/zh-cn/index.mdx
  src/content/docs/zh-cn/start/frontend/nextjs.mdx
  src/content/docs/zh-cn/start/frontend/nuxt.mdx
  src/content/docs/zh-cn/start/frontend/trunk.mdx
Labels: i18n, i18n: zh-cn

#2256 feat: turns theme selector into a button instead of a dropdown
  src/components/overrides/Header.astro
  src/components/overrides/ThemeSelect.astro
Labels: enhancement

#2254 Update nextjs.mdx
  src/content/docs/start/frontend/nextjs.mdx
Labels: enhancement

#2106 feat: added a splashscreen lab
  src/assets/learn/splashscreen/step_1.png
  src/assets/learn/splashscreen/step_3.png
  src/components/ShowSolution.astro
  src/content/docs/learn/splashscreen.mdx
Labels: enhancement

#2267 fix: Tray click type
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: bug

#2241 Add Initial Security Learning Tutorial
  src/content/docs/learn/Security/using-plugin-permissions.mdx
  src/content/docs/learn/Security/writing-plugin-permissions.mdx
Labels: enhancement

#2154 docs: translate features/events.md
  i18n/zh-cn/docusaurus-plugin-content-docs/current/guides/features/events.md
Labels: help wanted, i18n, i18n: zh-cn

#2195 i18(es): add spanish translation to the Upgrade from Tauri 1.0 guide.
  src/content/docs/es/start/migrate/from-tauri-1.mdx
Labels: help wanted, i18n, i18n: es

#2146 Documentation for distributing with the Arch User Repository.
  src/content/docs/distribute/aur.mdx
Labels: enhancement, help wanted

#2271 i18(zh-cn): Synchronizing content
  src/content/docs/zh-cn/start/frontend/nextjs.mdx
  src/content/docs/zh-cn/start/frontend/nuxt.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n

#2206 Migrate Embedding Additional Files from v1
  src/content/docs/develop/resources.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
Labels: enhancement

#1760 Instructions for creating a flatpack
  src/content/docs/distribute/flatpak.mdx
  src/content/docs/guides/distribute/index.mdx
Labels: enhancement

#2207 added updater page
  src/content/docs/plugin/updater.mdx
Labels: enhancement

#2314 Update RSS LinkCard descriptions
  src/content/docs/rss.mdx
Labels: enhancement

#2298 docs: Add bun command for plugin docs
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/barcode-scanner.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/clipboard.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/dialog.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/http-client.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/notification.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/positioner.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/single-instance.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/stronghold.mdx
  src/content/docs/plugin/updater.mdx
  src/content/docs/plugin/upload.mdx
  src/content/docs/plugin/websocket.mdx
  src/content/docs/plugin/window-state.mdx
Labels: enhancement

#2317 i18(zh-cn): Translate aur and flatpak under the distribute directory
  src/content/docs/zh-cn/distribute/Pipelines/crabnebula-cloud.mdx
  src/content/docs/zh-cn/distribute/aur.mdx
  src/content/docs/zh-cn/distribute/flatpak.mdx
Labels: i18n, i18n: zh-cn
