Repository tauri-apps/tauri-docs, pull requests merged in 2024-09, with the labels that each got.

#2627 feat: PermissionState is now exported from tauri
  src/content/docs/develop/Plugins/develop-mobile.mdx
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/develop/Plugins/develop-mobile.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2585 i18n(zh-cn): Translation /develop/Debug/rustrover.mdx
  src/content/docs/zh-cn/develop/Debug/add-cargo-config-dark.png
  src/content/docs/zh-cn/develop/Debug/add-cargo-config-light.png
  src/content/docs/zh-cn/develop/Debug/debug-session-dark.png
  src/content/docs/zh-cn/develop/Debug/debug-session-light.png
  src/content/docs/zh-cn/develop/Debug/npm-configuration-dark.png
  src/content/docs/zh-cn/develop/Debug/npm-configuration-light.png
  src/content/docs/zh-cn/develop/Debug/rename-configuration-dark.png
  src/content/docs/zh-cn/develop/Debug/rename-configuration-light.png
  src/content/docs/zh-cn/develop/Debug/rustrover.mdx
  src/content/docs/zh-cn/develop/Debug/set-no-default-features-dark.png
  src/content/docs/zh-cn/develop/Debug/set-no-default-features-light.png
  src/content/docs/zh-cn/develop/Debug/trunk-configuration-dark.png
  src/content/docs/zh-cn/develop/Debug/trunk-configuration-light.png
Labels: i18n, i18n: zh-cn

#2608 i18n(zh-cn): Translate `distribute/Signing/*`
  src/content/docs/zh-cn/distribute/Signing/android.mdx
  src/content/docs/zh-cn/distribute/Signing/ios.mdx
  src/content/docs/zh-cn/distribute/Signing/linux.mdx
  src/content/docs/zh-cn/distribute/Signing/macos.mdx
  src/content/docs/zh-cn/distribute/Signing/windows.mdx
Labels: i18n, i18n: zh-cn

#2428 docs: Create initial system tray guide
  src/content/docs/plugin/system-tray.mdx
Labels: enhancement

#2191 [Migration] [Translation i18(fr)] Migrate debian and adding the french version for v2
  src/content/docs/distribute/debian.mdx
  src/content/docs/fr/distribute/debian.mdx
Labels: help wanted, i18n, i18n: fr
