Repository tauri-apps/tauri-docs, pull requests merged in 2024-07, with the labels that each got.

#2290 Add Snapcraft docs
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
  src/content/docs/distribute/snapcraft.mdx
Labels: enhancement

#2304 Update: `Distribute`
  src/content/docs/distribute/index.mdx
Labels: enhancement

#2313 Add Actions Docs
  astro.config.mjs
  src/content/docs/develop/sidecar.mdx
  src/content/docs/distribute/Pipelines/github.mdx
  src/content/docs/distribute/flatpak.mdx
  src/content/docs/distribute/rpm.mdx
  src/content/docs/guides/distribute/index.mdx
Labels: enhancement

#2369 docs: fix typo on the package name
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2337 feat: android signing guide
  src/content/docs/distribute/apk-sign.mdx
Labels: enhancement

#2385 [i18nIgnore] Import Examples When `"withGlobalTauri": true`
  src/content/docs/blog/tauri-2-0-0-alpha-4.mdx
  src/content/docs/concept/Inter-Process Communication/isolation.md
  src/content/docs/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/develop/Tests/WebDriver/Example/webdriverio.mdx
  src/content/docs/develop/Tests/mocking.md
  src/content/docs/develop/calling-rust.mdx
  src/content/docs/es/plugin/dialog.mdx
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/plugin/notification.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/learn/Security/capabilities-for-windows-and-platforms.mdx
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/barcode-scanner.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/clipboard.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/dialog.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/http-client.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/notification.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/positioner.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/stronghold.mdx
  src/content/docs/plugin/upload.mdx
  src/content/docs/plugin/websocket.mdx
  src/content/docs/plugin/window-customization.mdx
  src/content/docs/plugin/window-state.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/develop/Plugins/index.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/zh-cn/develop/Tests/mocking.md
  src/content/docs/zh-cn/plugin/autostart.mdx
  src/content/docs/zh-cn/plugin/barcode-scanner.mdx
  src/content/docs/zh-cn/plugin/cli.mdx
  src/content/docs/zh-cn/plugin/clipboard.mdx
  src/content/docs/zh-cn/plugin/commands.mdx
  src/content/docs/zh-cn/plugin/deep-linking.mdx
  src/content/docs/zh-cn/plugin/dialog.mdx
  src/content/docs/zh-cn/plugin/file-system.mdx
  src/content/docs/zh-cn/plugin/global-shortcut.mdx
  src/content/docs/zh-cn/plugin/http-client.mdx
  src/content/docs/zh-cn/plugin/logging.mdx
  src/content/docs/zh-cn/plugin/notification.mdx
  src/content/docs/zh-cn/plugin/os-info.mdx
  src/content/docs/zh-cn/plugin/process.mdx
  src/content/docs/zh-cn/plugin/shell.mdx
  src/content/docs/zh-cn/plugin/store.mdx
  src/content/docs/zh-cn/plugin/stronghold.mdx
  src/content/docs/zh-cn/plugin/upload.mdx
  src/content/docs/zh-cn/plugin/websocket.mdx
  src/content/docs/zh-cn/plugin/window-customization.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2343 i18n(zh-cn): Update the translation of from-tauri-1
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn

#2393 i18(zh-cn): translate `distribute/rpm.mdx`
  src/content/docs/zh-cn/distribute/rpm.mdx
Labels: i18n, i18n: zh-cn

#2426 Update calling rust from frontend guide
  src/content/docs/develop/calling-rust.mdx
Labels: enhancement

#2432 update `plugin/deep-link.mdx`
  src/content/docs/plugin/deep-linking.mdx
Labels: enhancement

#2434 feat: automations for project management
  .github/workflows/assign.yml
  .github/workflows/check.yml
  .github/workflows/congrats.yml
  .github/workflows/labeler.yml
  .github/workflows/priority.yml
  .github/workflows/status.yml
Labels: enhancement

#2431 i18n(zh-cn): Translate `start/frontend/laptos.mdx`
  src/content/docs/zh-cn/start/frontend/leptos.mdx
Labels: help wanted, i18n, i18n: zh-cn

#2398 i18n(zh-cn): translate `distribute/snapcraft.mdx`
  src/content/docs/zh-cn/distribute/snapcraft.mdx
Labels: help wanted, i18n, i18n: zh-cn

#2417 sql: add `preload` config example for migrations
  src/content/docs/plugin/sql.mdx
Labels: enhancement

#2400 Add vscppdbg guide
  src/content/docs/develop/Debug/vscode.mdx
  src/content/docs/fr/develop/Debug/vscode.mdx
  src/content/docs/it/develop/Debug/vscode.mdx
Labels: enhancement, i18n, i18n: fr, i18n: it

#2410 i18n(zh-cn): translate develop/Plugin/resources.mdx
  src/content/docs/zh-cn/develop/resources.mdx
Labels: help wanted, i18n, i18n: zh-cn

#2405 i18n(zh-cn): translate /start/create-project.mdx
  src/content/docs/zh-cn/start/create-project.mdx
Labels: help wanted, i18n, i18n: zh-cn
