Repository tauri-apps/tauri-docs, pull requests merged in 2024-11, with the labels that each got.

#2922 Add deno commands
  packages/cli-generator/build.ts
  src/components/CommandTabs.astro
  src/content/docs/_fragments/cta.mdx
  src/content/docs/develop/Debug/index.mdx
  src/content/docs/develop/Plugins/index.mdx
  src/content/docs/develop/configuration-files.mdx
  src/content/docs/develop/index.mdx
  src/content/docs/distribute/app-store.mdx
  src/content/docs/distribute/dmg.mdx
  src/content/docs/distribute/google-play.mdx
  src/content/docs/distribute/index.mdx
  src/content/docs/distribute/macos-application-bundle.mdx
  src/content/docs/distribute/microsoft-store.mdx
  src/content/docs/distribute/rpm.mdx
  src/content/docs/distribute/windows-installer.mdx
  src/content/docs/fr/develop/development-cycle.mdx
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/barcode-scanner.mdx
  src/content/docs/plugin/biometric.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/clipboard.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/dialog.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/http-client.mdx
  src/content/docs/plugin/localhost.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/nfc.mdx
  src/content/docs/plugin/notification.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/persisted-scope.mdx
  src/content/docs/plugin/positioner.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/single-instance.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/stronghold.mdx
  src/content/docs/plugin/updater.mdx
  src/content/docs/plugin/upload.mdx
  src/content/docs/plugin/websocket.mdx
  src/content/docs/plugin/window-state.mdx
  src/content/docs/reference/_cli.mdx
  src/content/docs/start/create-project.mdx
  src/content/docs/start/frontend/nextjs.mdx
  src/content/docs/start/frontend/nuxt.mdx
  src/content/docs/start/frontend/qwik.mdx
  src/content/docs/start/frontend/sveltekit.mdx
  src/content/docs/start/frontend/vite.mdx
Labels: i18n, i18n: fr

#2947 feat: add synckey to most tabs
  src/content/docs/develop/Plugins/develop-mobile.mdx
  src/content/docs/distribute/Sign/android.mdx
  src/content/docs/distribute/flatpak.mdx
  src/content/docs/distribute/snapcraft.mdx
  src/content/docs/distribute/windows-installer.mdx
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/es/start/prerequisites.mdx
  src/content/docs/fr/plugin/notification.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/prerequisites.mdx
  src/content/docs/learn/sidecar-nodejs.mdx
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/biometric.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/clipboard.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/nfc.mdx
  src/content/docs/plugin/notification.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/system-tray.mdx
  src/content/docs/plugin/updater.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/start/prerequisites.mdx
  src/content/docs/zh-cn/develop/Plugins/develop-mobile.mdx
  src/content/docs/zh-cn/distribute/flatpak.mdx
  src/content/docs/zh-cn/distribute/snapcraft.mdx
  src/content/docs/zh-cn/plugin/clipboard.mdx
  src/content/docs/zh-cn/plugin/deep-linking.mdx
  src/content/docs/zh-cn/plugin/file-system.mdx
  src/content/docs/zh-cn/plugin/global-shortcut.mdx
  src/content/docs/zh-cn/plugin/notification.mdx
  src/content/docs/zh-cn/plugin/os-info.mdx
  src/content/docs/zh-cn/plugin/process.mdx
  src/content/docs/zh-cn/plugin/shell.mdx
  src/content/docs/zh-cn/plugin/sql.mdx
  src/content/docs/zh-cn/plugin/store.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2935 fix: remove redundant await in platform
  src/content/docs/plugin/os-info.mdx
  src/content/docs/zh-cn/plugin/os-info.mdx
Labels: i18n, i18n: zh-cn

#2874 i18n(zh-cn): Update `deep-linking.mdx` following the update of `deep-linking`'s `configuration`
  src/content/docs/zh-cn/plugin/deep-linking.mdx
Labels: i18n, i18n: zh-cn

#2963 Move non-plugins guides into learn section
  netlify.toml
  public/_redirects
  src/content/docs/concept/architecture.mdx
  src/content/docs/learn/system-tray.mdx
  src/content/docs/learn/window-customization.mdx
  src/content/docs/zh-cn/learn/window-customization.mdx
Labels: i18n, i18n: zh-cn

#2973 i18n(zh-cn): Update `zh-cn/index.mdx` and `zh-cn/start/prerequisites.mdx`
  src/content/docs/zh-cn/index.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn

#2996 fix(docs): fix and simplify Nix devShell
  src/content/docs/start/prerequisites.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn
