Repository tauri-apps/tauri-docs, pull requests merged in 2024-08, with the labels that each got.

#2287 feat: State Management page
  src/content/docs/develop/state-management.mdx
Labels: enhancement

#2453 i18n(zh-cn): Synchronizing content
  src/content/docs/zh-cn/distribute/snapcraft.mdx
  src/content/docs/zh-cn/start/frontend/nextjs.mdx
Labels: i18n, i18n: zh-cn

#2448 i18n(zh-cn): Translate `distribute/apk-sign.mdx`
  src/content/docs/zh-cn/distribute/apk-sign.mdx
Labels: i18n, i18n: zh-cn

#2458 i18n(zh-cn): Translate `develop/sidecar.mdx`
  src/content/docs/zh-cn/develop/sidecar.mdx
Labels: i18n, i18n: zh-cn

#2478 feat: Add 2.0 Release Candidate Announcement
  public/authors/tweidinger.png
  src/content/docs/blog/tauri-2-0-0-release-candidate.mdx
Labels: blog, new release

#2491 fix the upgrade command for package managers
  src/content/docs/blog/tauri-2-0-0-release-candidate.mdx
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/start/migrate/from-tauri-2-beta.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2498 [i18n-ignore] fix zh-cn plugin add cli usage
  src/content/docs/zh-cn/plugin/notification.mdx
Labels: i18n, i18n: zh-cn

#2502 Improvements in nextConfig's type
  src/content/docs/start/frontend/nextjs.mdx
  src/content/docs/zh-cn/start/frontend/nextjs.mdx
Labels: i18n, i18n: zh-cn

#2509 Update create-project.mdx
  src/content/docs/zh-cn/start/create-project.mdx
Labels: i18n, i18n: zh-cn

#2505 i18n(zh-cn): Translate `start/migrate/from-tauri-2-beta.mdx`
  src/content/docs/zh-cn/start/migrate/from-tauri-2-beta.mdx
Labels: i18n, i18n: zh-cn

#2512 i18n(zh-cn): Synchronizing content
  src/content/docs/zh-cn/develop/Debug/vscode.mdx
Labels: i18n, i18n: zh-cn

#2391 i18n(zh-cn): Update the translation of develop/Plugins/index.mdx
  src/content/docs/zh-cn/develop/Plugins/index.mdx
Labels: help wanted, i18n, i18n: zh-cn

#1890 feat: Plugin permissions component
  src/components/PluginPermissions.astro
  src/content/docs/learn/Security/using-plugin-permissions.mdx
  src/content/docs/plugin/autostart.mdx
  src/content/docs/plugin/barcode-scanner.mdx
  src/content/docs/plugin/biometric.mdx
  src/content/docs/plugin/cli.mdx
  src/content/docs/plugin/clipboard.mdx
  src/content/docs/plugin/deep-linking.mdx
  src/content/docs/plugin/dialog.mdx
  src/content/docs/plugin/file-system.mdx
  src/content/docs/plugin/global-shortcut.mdx
  src/content/docs/plugin/http-client.mdx
  src/content/docs/plugin/logging.mdx
  src/content/docs/plugin/nfc.mdx
  src/content/docs/plugin/notification.mdx
  src/content/docs/plugin/os-info.mdx
  src/content/docs/plugin/positioner.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/plugin/shell.mdx
  src/content/docs/plugin/sql.mdx
  src/content/docs/plugin/store.mdx
  src/content/docs/plugin/stronghold.mdx
  src/content/docs/plugin/updater.mdx
  src/content/docs/plugin/upload.mdx
  src/content/docs/plugin/websocket.mdx
  src/content/docs/plugin/window-state.mdx
Labels: enhancement

#2395 docs: Add Biometric Plugin documentation
  src/content/docs/plugin/biometric.mdx
Labels: enhancement

#2566 Update dialog.mdx
  src/content/docs/zh-cn/plugin/dialog.mdx
Labels: i18n, i18n: zh-cn

#2518 i18n(zh-cn): Adjust menu order and sync content
  src/content/docs/zh-cn/start/migrate/index.mdx
Labels: i18n, i18n: zh-cn

#2599 i18n(zh-cn): Fix /plugin/barcode-scanner.mdx
  src/content/docs/zh-cn/plugin/barcode-scanner.mdx
Labels: i18n, i18n: zh-cn

#2605 [i18n-ignore] fix: trailing slash across docs
  src/content/docs/blog/tauri-2-0-0-beta.md
  src/content/docs/blog/tauri-board-elections-2024.md
  src/content/docs/concept/architecture.mdx
  src/content/docs/develop/Plugins/index.mdx
  src/content/docs/develop/Tests/WebDriver/Example/index.mdx
  src/content/docs/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/develop/index.mdx
  src/content/docs/develop/state-management.mdx
  src/content/docs/es/start/prerequisites.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/prerequisites.mdx
  src/content/docs/learn/Security/capabilities-for-windows-and-platforms.mdx
  src/content/docs/plugin/process.mdx
  src/content/docs/security/lifecycle.mdx
  src/content/docs/start/create-project.mdx
  src/content/docs/start/prerequisites.mdx
  src/content/docs/zh-cn/develop/Plugins/develop-mobile.mdx
  src/content/docs/zh-cn/develop/Plugins/index.mdx
  src/content/docs/zh-cn/plugin/autostart.mdx
  src/content/docs/zh-cn/plugin/barcode-scanner.mdx
  src/content/docs/zh-cn/plugin/cli.mdx
  src/content/docs/zh-cn/plugin/deep-linking.mdx
  src/content/docs/zh-cn/plugin/file-system.mdx
  src/content/docs/zh-cn/plugin/global-shortcut.mdx
  src/content/docs/zh-cn/plugin/logging.mdx
  src/content/docs/zh-cn/plugin/positioner.mdx
  src/content/docs/zh-cn/plugin/process.mdx
  src/content/docs/zh-cn/plugin/shell.mdx
  src/content/docs/zh-cn/plugin/store.mdx
  src/content/docs/zh-cn/plugin/stronghold.mdx
  src/content/docs/zh-cn/plugin/websocket.mdx
  src/content/docs/zh-cn/plugin/window-customization.mdx
  src/content/docs/zh-cn/plugin/window-state.mdx
  src/content/docs/zh-cn/reference/acl.mdx
  src/content/docs/zh-cn/start/create-project.mdx
  src/content/docs/zh-cn/start/index.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es

#2616 [i18n-ignore] fix: missing slashes in href elements
  astro.config.mjs
  src/content/docs/about/index.mdx
  src/content/docs/concept/index.mdx
  src/content/docs/distribute/index.mdx
  src/content/docs/es/start/frontend/index.mdx
  src/content/docs/fr/develop/Debug/index.mdx
  src/content/docs/fr/develop/index.mdx
  src/content/docs/fr/start/frontend/index.mdx
  src/content/docs/zh-cn/develop/Debug/index.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/index.mdx
  src/content/docs/zh-cn/develop/Tests/index.mdx
  src/content/docs/zh-cn/start/frontend/index.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es
