Repository tauri-apps/tauri-docs, pull requests merged in 2025-08, with the labels that each got.

#2823 (i18n-ignore) docs: restore the window if it is minimized
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/fr/start/migrate/from-tauri-1.mdx
  src/content/docs/ja/start/migrate/from-tauri-1.mdx
  src/content/docs/learn/system-tray.mdx
  src/content/docs/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/learn/system-tray.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es, i18n: ja

#3450 feat(develop): update Webdriver tests section
  src/content/docs/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/develop/Tests/WebDriver/Example/webdriverio.mdx
  src/content/docs/develop/Tests/WebDriver/ci.md
  src/content/docs/develop/Tests/WebDriver/index.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/index.mdx
Labels: i18n, i18n: zh-cn

#3233 i18n(ja) Japanese Texts for About section
  src/content/docs/ja/about/book.md
  src/content/docs/ja/about/governance.md
  src/content/docs/ja/about/index.mdx
  src/content/docs/ja/about/philosophy.md
  src/content/docs/ja/about/trademark.md
Labels: i18n, i18n: ja

#3300 i18n(ja) Distribution Section (part 1 of 3)
  src/content/docs/distribute/index.mdx
  src/content/docs/ja/distribute/app-store.mdx
  src/content/docs/ja/distribute/appimage.mdx
  src/content/docs/ja/distribute/aur.mdx
  src/content/docs/ja/distribute/crabnebula-cloud.mdx
  src/content/docs/ja/distribute/debian.mdx
  src/content/docs/ja/distribute/dmg.mdx
  src/content/docs/ja/distribute/index.mdx
Labels: i18n, i18n: ja

#3268 i18n(ja): Add Japanese Texts to Develop secton (part 1)
  src/content/docs/ja/develop/_sections/frontend-listen.mdx
  src/content/docs/ja/develop/calling-frontend.mdx
  src/content/docs/ja/develop/calling-rust.mdx
  src/content/docs/ja/develop/configuration-files.mdx
  src/content/docs/ja/develop/index.mdx
  src/content/docs/ja/develop/resources.mdx
  src/content/docs/ja/develop/sidecar.mdx
  src/content/docs/ja/develop/state-management.mdx
  src/content/docs/ja/develop/updating-dependencies.mdx
  src/content/docs/ja/start/migrate/from-tauri-1.mdx
  src/content/docs/ja/start/migrate/index.mdx
Labels: i18n, i18n: ja
