Repository tauri-apps/tauri-docs, pull requests merged in 2025-02, with the labels that each got.

#3130 i18n(zh-cn): translate `plugin/updater.mdx`
  src/content/docs/zh-cn/plugin/updater.mdx
Labels: i18n, i18n: zh-cn

#3153 [i18n-ignore] fix: localized links
  src/content/docs/es/start/index.mdx
  src/content/docs/es/start/migrate/from-tauri-1.mdx
  src/content/docs/es/start/prerequisites.mdx
  src/content/docs/fr/start/prerequisites.mdx
  src/content/docs/it/develop/index.mdx
  src/content/docs/zh-cn/concept/architecture.mdx
  src/content/docs/zh-cn/develop/Debug/rustrover.mdx
  src/content/docs/zh-cn/develop/Plugins/develop-mobile.mdx
  src/content/docs/zh-cn/develop/Plugins/index.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/Example/selenium.mdx
  src/content/docs/zh-cn/develop/Tests/WebDriver/index.mdx
  src/content/docs/zh-cn/develop/sidecar.mdx
  src/content/docs/zh-cn/learn/window-customization.mdx
  src/content/docs/zh-cn/plugin/dialog.mdx
  src/content/docs/zh-cn/plugin/file-system.mdx
  src/content/docs/zh-cn/plugin/http-client.mdx
  src/content/docs/zh-cn/plugin/os-info.mdx
  src/content/docs/zh-cn/plugin/process.mdx
  src/content/docs/zh-cn/reference/acl.mdx
  src/content/docs/zh-cn/start/create-project.mdx
  src/content/docs/zh-cn/start/index.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-1.mdx
  src/content/docs/zh-cn/start/migrate/from-tauri-2-beta.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es, i18n: it

#3160 i18n(zh-cn): Sync content
  src/content/docs/zh-cn/distribute/Sign/android.mdx
  src/content/docs/zh-cn/distribute/Sign/ios.mdx
  src/content/docs/zh-cn/distribute/Sign/linux.mdx
  src/content/docs/zh-cn/distribute/Sign/macos.mdx
  src/content/docs/zh-cn/distribute/Sign/windows.mdx
Labels: i18n, i18n: zh-cn

#3137 i18n(es): Translate notifications page into Spanish
  src/content/docs/es/plugin/notification.mdx
Labels: i18n, i18n: es

#3131 i18n(zh-cn): translate opener.mdx
  src/content/docs/zh-cn/plugin/opener.mdx
Labels: i18n, i18n: zh-cn

#3167 Delete src/content/docs/zh-cn/plugin/commands.mdx
  src/content/docs/zh-cn/plugin/commands.mdx
Labels: i18n, i18n: zh-cn

#3170 i18n(zh-cn): Update start/prerequisites.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: help wanted, i18n, i18n: zh-cn

#3173 i18n(es): fix typo
  src/content/docs/es/start/index.mdx
Labels: i18n, i18n: es

#3111 i18n(ja): "Quick Start" Section
  .prettierignore
  src/content/docs/ja/404.md
  src/content/docs/ja/doc-JP Rev Control.md
  src/content/docs/ja/index.mdx
  src/content/docs/ja/rss.mdx
  src/content/docs/ja/start/create-project.mdx
  src/content/docs/ja/start/frontend/index.mdx
  src/content/docs/ja/start/frontend/leptos.mdx
  src/content/docs/ja/start/frontend/nextjs.mdx
  src/content/docs/ja/start/frontend/nuxt.mdx
  src/content/docs/ja/start/frontend/qwik.mdx
  src/content/docs/ja/start/frontend/sveltekit.mdx
  src/content/docs/ja/start/frontend/trunk.mdx
  src/content/docs/ja/start/frontend/vite.mdx
  src/content/docs/ja/start/index.mdx
  src/content/docs/ja/start/migrate/from-tauri-1.mdx
  src/content/docs/ja/start/migrate/from-tauri-2-beta.mdx
  src/content/docs/ja/start/migrate/index.mdx
  src/content/docs/ja/start/prerequisites.mdx
Labels: i18n, i18n: ja

#3178 i18n(zh-cn): Update outdated shell plugin documentation
  src/content/docs/zh-cn/plugin/shell.mdx
Labels: i18n, i18n: zh-cn
