Repository tauri-apps/tauri-docs, pull requests merged in 2025-04, with the labels that each got.

#3220 i18n(zh-cn):Update HTTP client plug-in documentation
  src/content/docs/zh-cn/plugin/http-client.mdx
Labels: i18n, i18n: zh-cn

#3241 i18n(fr): change Prerequisites FR to match English Version
  src/content/docs/fr/start/prerequisites.mdx
Labels: i18n, i18n: fr

#3244 i18n(zh-cn): add page `zh-cn/learn/window-menu.mdx`
  src/content/docs/zh-cn/learn/window-menu.mdx
Labels: i18n, i18n: zh-cn

#3243 i18n(zh-cn): add page `zh-cn/security/csp.mdx`
  src/content/docs/zh-cn/security/csp.mdx
Labels: i18n, i18n: zh-cn

#3252 i18n(zh-cn): Update the outdated `window-menu` documentation.
  src/content/docs/zh-cn/learn/window-menu.mdx
Labels: i18n, i18n: zh-cn

#3251 i18n(es): create `about/index.mdx`, `about/book.md` & `about/philosophy.md`
  src/content/docs/es/about/book.md
  src/content/docs/es/about/index.mdx
  src/content/docs/es/about/philosophy.md
Labels: i18n, i18n: es

#3245 i18n(zh-cn): update outdated page
  src/content/docs/zh-cn/plugin/stronghold.mdx
  src/content/docs/zh-cn/plugin/upload.mdx
  src/content/docs/zh-cn/plugin/websocket.mdx
  src/content/docs/zh-cn/plugin/window-state.mdx
  src/content/docs/zh-cn/start/frontend/vite.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn

#3256 i18n(zh-cn): Update outdated doc
  src/content/docs/zh-cn/plugin/autostart.mdx
  src/content/docs/zh-cn/plugin/barcode-scanner.mdx
  src/content/docs/zh-cn/plugin/clipboard.mdx
  src/content/docs/zh-cn/plugin/os-info.mdx
  src/content/docs/zh-cn/plugin/single-instance.mdx
  src/content/docs/zh-cn/plugin/stronghold.mdx
  src/content/docs/zh-cn/plugin/upload.mdx
  src/content/docs/zh-cn/plugin/websocket.mdx
  src/content/docs/zh-cn/plugin/window-state.mdx
Labels: i18n, i18n: zh-cn

#3269 i18n(ja) "Dev/Debug" section
  src/content/docs/ja/develop/Debug/crabnebula-devtools.mdx
  src/content/docs/ja/develop/Debug/index.mdx
  src/content/docs/ja/develop/Debug/neovim.mdx
  src/content/docs/ja/develop/Debug/rustrover.mdx
  src/content/docs/ja/develop/Debug/vscode.mdx
Labels: i18n, i18n: ja
