Repository tauri-apps/tauri-docs, pull requests merged in 2025-03, with the labels that each got.

#3215 Verso integration blog
  astro.config.mjs
  public/assets/blog/verso-integration/dev-show-case.mp4
  public/authors/tony.jpeg
  src/content/docs/blog/tauri-verso-integration.md
Labels: blog

#3224 docs: add support for Bun package manager in CLI commands
  packages/cli-generator/build.ts
  src/content/docs/develop/Debug/index.mdx
  src/content/docs/develop/configuration-files.mdx
  src/content/docs/develop/index.mdx
  src/content/docs/distribute/app-store.mdx
  src/content/docs/distribute/dmg.mdx
  src/content/docs/distribute/google-play.mdx
  src/content/docs/distribute/index.mdx
  src/content/docs/distribute/macos-application-bundle.mdx
  src/content/docs/distribute/microsoft-store.mdx
  src/content/docs/distribute/rpm.mdx
  src/content/docs/distribute/windows-installer.mdx
  src/content/docs/es/start/frontend/sveltekit.mdx
  src/content/docs/fr/develop/development-cycle.mdx
Labels: i18n, i18n: fr, i18n: es

#3197 i18n(ja): Add Japanese texts for Concept section
  public/d2/docs/ja/concept/Inter-Process Communication/index-0.svg
  public/d2/docs/ja/concept/Inter-Process Communication/index-1.svg
  public/d2/docs/ja/concept/architecture-0.svg
  public/d2/docs/ja/concept/process-model-0.svg
  src/content/docs/ja/concept/Inter-Process Communication/brownfield.md
  src/content/docs/ja/concept/Inter-Process Communication/index.mdx
  src/content/docs/ja/concept/Inter-Process Communication/isolation.md
  src/content/docs/ja/concept/architecture.mdx
  src/content/docs/ja/concept/index.mdx
  src/content/docs/ja/concept/process-model.md
  src/content/docs/ja/concept/size.mdx
  src/content/docs/ja/doc-JP Rev Control.md
Labels: i18n, i18n: ja

#3232 Verso integration blog
  astro.config.mjs
  public/assets/blog/verso-integration/dev-show-case.mp4
  public/authors/tony.jpeg
  src/content/docs/blog/tauri-verso-integration.md
Labels: blog
