Repository tauri-apps/tauri-docs, pull requests merged in 2025-06, with the labels that each got.

#3339 i18n(es): create clipboard.mdx
  src/content/docs/es/plugin/clipboard.mdx
Labels: i18n, i18n: es

#3337 i18n(es): create autostart.mdx
  src/content/docs/es/plugin/autostart.mdx
Labels: i18n, i18n: es

#3341 i18n(es): fix title name for barcode-scanner.mdx
  src/content/docs/es/plugin/barcode-scanner.mdx
Labels: i18n, i18n: es

#3342 i18n(es): fix title typo in localhost.mdx
  src/content/docs/es/plugin/localhost.mdx
Labels: i18n, i18n: es

#3348 i18n(zh-cn):translate /concept/Inter-Process Communication/isolation.md
  src/content/docs/zh-cn/concept/Inter-Process Communication/isolation.md
  src/content/docs/zh-cn/distribute/flatpak.mdx
Labels: i18n, i18n: zh-cn

#3359 [request] add libxdo to arch and fedora prerequisites
  src/content/docs/es/start/prerequisites.mdx
  src/content/docs/fr/start/prerequisites.mdx
  src/content/docs/ja/start/prerequisites.mdx
  src/content/docs/start/prerequisites.mdx
  src/content/docs/zh-cn/start/prerequisites.mdx
Labels: i18n, i18n: zh-cn, i18n: fr, i18n: es, i18n: ja
