Repository tauri-apps/tauri-docs, pull requests merged in 2025-05, with the labels that each got.

#3222 i18n(zh-cn): Add permission configuration related documents
  src/content/docs/zh-cn/security/permissions.mdx
Labels: i18n, i18n: zh-cn

#3219 i18n(zh-cn): Add security overview page
  src/content/docs/zh-cn/security/index.mdx
Labels: i18n, i18n: zh-cn

#3280 i18n(zh): Update frontendDist path from '../dist' to '../out' to match Next.js static export configuration
  src/content/docs/zh-cn/start/frontend/nextjs.mdx
Labels: i18n, i18n: zh-cn

#3286 Add cwd to vscode windows debug task example
  src/content/docs/develop/Debug/vscode.mdx
  src/content/docs/ja/develop/Debug/vscode.mdx
  src/content/docs/zh-cn/develop/Debug/vscode.mdx
Labels: i18n, i18n: zh-cn, i18n: ja

#3287 Manually order the Develop tab in sidebar
  astro.config.mjs
  locales.json
  src/content/docs/develop/_sections/frontend-listen.mdx
  src/content/docs/develop/calling-frontend.mdx
  src/content/docs/develop/calling-rust.mdx
  src/content/docs/develop/configuration-files.mdx
  src/content/docs/develop/resources.mdx
  src/content/docs/develop/sidecar.mdx
  src/content/docs/develop/state-management.mdx
  src/content/docs/develop/updating-dependencies.mdx
  src/content/docs/zh-cn/develop/resources.mdx
  src/content/docs/zh-cn/develop/sidecar.mdx
Labels: i18n, i18n: zh-cn

#3288 Fix sub tabs in develop tab gone in sidebar
  astro.config.mjs
  src/content/docs/develop/calling-frontend.mdx
  src/content/docs/develop/calling-rust.mdx
  src/content/docs/develop/configuration-files.mdx
  src/content/docs/develop/index.mdx
  src/content/docs/develop/resources.mdx
  src/content/docs/develop/sidecar.mdx
  src/content/docs/develop/state-management.mdx
  src/content/docs/develop/updating-dependencies.mdx
  src/content/docs/zh-cn/develop/sidecar.mdx
Labels: i18n, i18n: zh-cn

#3284 i18n(zh-cn): Update outdated pages
  src/content/docs/zh-cn/concept/size.mdx
  src/content/docs/zh-cn/develop/resources.mdx
  src/content/docs/zh-cn/learn/window-menu.mdx
Labels: i18n, i18n: zh-cn

#3291 i18n(ja): Fix unnatural katakana and improve phrasing in Japanese translation
  src/content/docs/ja/index.mdx
  src/content/docs/ja/start/frontend/leptos.mdx
  src/content/docs/ja/start/frontend/qwik.mdx
  src/content/docs/ja/start/frontend/trunk.mdx
  src/content/docs/ja/start/migrate/from-tauri-1.mdx
Labels: i18n, i18n: ja

#3281 i18n(ja) Add "Dev/plugins" section
  src/components/i18n/TranslationNote.astro
  src/content/docs/ja/develop/plugins/develop-mobile.mdx
  src/content/docs/ja/develop/plugins/index.mdx
Labels: i18n, i18n: ja
